:root{
    --bgColor:rgb(44, 44, 44);
    --textColor:rgb(255, 255, 255);
    --navBg:rgb(0, 53, 66);
    --navHover:rgb(78, 111, 148);
    --aboutBg:rgb(129, 129, 129);
    --achieveBg:rgb(85, 152, 156);
    --dBg:rgb(219, 219, 219);


}